html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 70vh;
      background: url(../images/bookmark/collection.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index:1;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #302922;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      font-family: Montserrat;
      font-weight: 700;
      text-decoration: none;
      color: white;
      font-size: 16px;

}
.menu li:hover {
  background-color: #aeccc7;
  color: white;

}
.menu li span:hover {
  background-color: #aeccc7;
  color: white;

}
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #302922;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
h1 {
      font-family: raleway;
      
      font-weight: 700;
      font-size: 31pt;
      margin-bottom: 5%;
      margin-top: 15%;
}


h2 {
      font-family: raleway;
      font-weight: 700;
      font-size: 15pt;
      line-height: 1.5;
      margin-top: 5%;
      text-align: center;
}
.rowh2 {
      /*margin-right: 10%;
      margin-left: 10%;*/
}
h3 {
      margin-top: 35px;
      font-size: 12pt;
      font-family: raleway;
      font-weight: 300;
      line-height: 1.5;
}

.descriptiontext {
      font-size: 12pt;
}
hr {
     color: #f00;
background-color: black;
width: 50%;
height:1;

}
#title {
      font-weight: 600;
}
.rowimage1 {
      margin-top: 3%;
}
.rowimage2 {
      margin-top: 5%;

}
.rowimage3 {
      
      margin-top: 5%;
      margin-bottom: 30%;

     
}

.site-footer{
  height: 200px; 
}
.site-footer {
  background: #302922;
}






.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}


.no-padding {
  padding-left: 0;
  padding-right: 0;
}

